@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:800');

@font-face {
    font-family: 'Gotham black';
    src: url('../fonts/gothamblack-webfont.eot');
    src: url('../fonts/gothamblack-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gothamblack-webfont.woff2') format('woff2'),
         url('../fonts/gothamblack-webfont.woff') format('woff'),
         url('../fonts/gothamblack-webfont.ttf') format('truetype'),
         url('../fonts/gothamblack-webfont.otf')
}